.vscode
**/__pycache__
**/*.pyc
**/.pytest_cache
aws/_privatejson
basic/_ignorefiles
forwin
docs/_*
log
**/.ipynb_checkpoints
**/*-output*
**/.serverless
**/node_modules
**/.*.yml
**/*.pem
**/.requirements
# 環境変数
**/.env
**/conf/
# MacとWinを共存
Pipfile.lock
encrypted.bin