[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
flake8 = "*"
numpy = "*"
matplotlib = "*"
jupyterlab = "*"
requests = "*"
beautifulsoup4 = "*"
boto3 = "*"
autopep8 = "*"
paramiko = "*"
python-dotenv = "*"
atomicwrites = "*"
flask = "*"
pycryptodome = "*"
elasticsearch = "*"
elasticsearch-dsl = "==7.0.0"
pytz = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"

[requires]
python_version = "3"
